@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,700");

@import url("https://fonts.googleapis.com/css?family=Montserrat:800");

@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,700,800");

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular");

@import url("https://fonts.googleapis.com/css?family=EB+Garamond:regular");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 15px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "EB Garamond";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "EB Garamond";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*font-size: 0;*/
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*font-size: 0;*/
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  height: 99px;
  background-color: #c87e6b;
  z-index: 10;
}

.menu-header__icon-burger {
  margin: 5px 0 0 0;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  z-index: 3;
  display: block;
  position: relative;
  width: 27px;
  height: 15px;
  cursor: pointer;
}

.menu-header__icon-burger span,
.menu-header__icon-burger::before,
.menu-header__icon-burger::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #e9e5da;
}

.menu-header__icon-burger::before,
.menu-header__icon-burger::after {
  content: "";
}

.menu-header__icon-burger::before {
  top: 0;
}

.menu-header__icon-burger::after {
  bottom: 0;
}

.menu-header__icon-burger span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.menu-header__menu {
  width: 85%;
  padding: 0 200px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*font-size: 0;*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__link {
  font-family: "Montserrat";
  font-size: 11.4px;
  font-weight: 800;
  line-height: 200%;
  color: #e7e4db;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.menu-header__link-login {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 11.4px;
  font-weight: 800;
  line-height: 200%;
  color: #e7e4db;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 4px 15px;
  border: 2px solid #e7e4db;
  border-radius: 23px;
}

.menu-header__profile:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-header__cart:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*
.header__burger._active span{
	transform: scale(0) translate(0px, -50%);
}
.header__burger._active:before {
	top: 50%;
	transform: rotate(-45deg) translate(0px, -50%);
}
.header__burger._active:after {
	bottom: 50%;
	transform: rotate(45deg) translate(0px, 50%);
}*/

.header-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*font-size: 0;*/
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._no-webp .header-page__body::before{
  background: url("../img/first_page/leafs_bottom.png") center no-repeat; }

.header-page__body::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 131px;
  height: 269px;
}

._no-webp .header-page__body::after{
  background: url("../img/first_page/leafs.png") center no-repeat; }

.header-page__body::after {
  content: "";
  position: absolute;
  right: 52%;
  top: 5%;
  width: 76px;
  height: 87px;
}

.header-page__article {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
}

.header-page__title {
  font-family: "Playfair Display";
  font-size: 58px;
  font-weight: 700;
  line-height: 89%;
  color: #484a4b;
  letter-spacing: 0.025em;
  width: 400px;
  text-align: center;
  margin: 0 0 20px 0;
}

.header-page__subtitle {
  font-family: "Montserrat Alternates";
  font-size: 25px;
  font-weight: 700;
  line-height: 160%;
  color: #765a33;
  margin: 0 0 10px 0;
  text-align: center;
}

.header-page__content {
  font-family: "EB Garamond";
  font-size: 25px;
  font-weight: 400;
  line-height: 110%;
  color: #765a33;
  max-width: 450px;
  text-align: justify;
  margin: 0 0 40px 0;
}

.header-page__image {
  width: 50%;
}

.header-page__button {
  display: inline-block;
  padding: 9px 17px;
  margin: 15px 10px;
}

.header-page__button span {
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: #484a4b;
  text-transform: uppercase;
}

.header-page__button:hover {
  border: 1px solid #787878;
  border-radius: 20px;
  background-color: #787878;
}

.header-page__button:hover span {
  color: #fff;
}

.results-page {
  padding: 90px 0;
}

.results-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*font-size: 0;*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-page__item {
  text-align: center;
}

.results-page__quantity {
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 700;
  line-height: 130%;
  color: #ffffff;
  letter-spacing: 0.025em;
}

.results-page__name {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;
  letter-spacing: 0.015em;
}

.work-process {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  margin: 50px 0;
}

._no-webp .work-process::before{
  background: url("../img/third_page/leaf.png") center no-repeat; }

.work-process::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 92px;
  height: 246px;
}

._no-webp .work-process::after{
  background: url("../img/third_page/leaf_right.png") center no-repeat; }

.work-process::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 92px;
  height: 246px;
}

.work-process__container {
  width: 100%;
}

.work-process__content {
  margin: 0 auto;
  padding: 30px;
  max-width: 1080px;
  max-height: 660px;
  position: relative;
  z-index: 1;
}

.work-process__content::before {
  content: "";
  position: absolute;
  width: 278px;
  height: 260px;
  background-color: #c87e6b;
  bottom: 0;
  left: 0;
}

.work-process__content::after {
  content: "";
  position: absolute;
  width: 569px;
  height: 353px;
  border: 5px solid #8a6a3e;
  top: 0;
  right: 0;
}

.work-process__video {
  position: relative;
  padding: 0 0 56% 0;
  z-index: 2;
}

.work-process__video iframe {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.actions-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-page__offer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  opacity: 0.87;
  background-color: #dbc06e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions-page__content {
  max-width: 670px;
  text-align: center;
  position: relative;
}

.actions-page__content::before {
  content: url("../img/fourth_page/leaf_left.png");
  position: absolute;
  top: 50%;
  left: 0%;
  width: 83px;
  height: 131px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.actions-page__content::after {
  content: url("../img/fourth_page/leaf_right.png");
  position: absolute;
  top: 50%;
  right: 0%;
  width: 83px;
  height: 131px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.actions-page__title {
  display: inline-block;
  font-family: "EB Garamond";
  font-size: 27px;
  font-weight: 700;
  line-height: 100%;
  color: #e7e4db;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  padding: 12px 28px;
  border-radius: 30px;
  background-color: #424242;
  margin: 0 0 25px 0;
}

.actions-page__discount {
  font-family: "Montserrat Alternates";
  font-size: 163px;
  font-weight: 900;
  line-height: 70%;
  color: #424242;
  letter-spacing: 0.025em;
  margin: 0 0 20px 0;
}

.actions-page__text {
  display: inline-block;
  font-family: "Montserrat Alternates";
  font-size: 30px;
  font-weight: 700;
  line-height: 115%;
  color: #424242;
  max-width: 260px;
}

.actions-page__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.aboutUs-page__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutUs-page__container {
  position: relative;
  padding: 0 0 277px 0;
}

.aboutUs-page__container::after {
  content: url("../img/fifth_page/leaf_right.png");
  position: absolute;
  bottom: 0;
  right: 0;
  width: 173px;
  height: 304px;
}

.aboutUs-page__container:nth-child(2)::after {
  left: 0;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.aboutUs-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.aboutUs-page__image-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 20px 20px 55px 50px;
  position: relative;
}

.aboutUs-page__image-block::before {
  content: "";
  position: absolute;
  width: 354px;
  height: 320px;
  border: 4px solid #8a6a3e;
  bottom: 0;
  left: 0;
}

.aboutUs-page__image-block::after {
  content: "";
  position: absolute;
  width: 167px;
  height: 116px;
  background-color: #c87e6b;
  top: 0;
  right: 0;
}

.aboutUs-page__image {
  z-index: 3;
  position: relative;
}

.aboutUs-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding: 130px 0px;
  position: relative;
}

.aboutUs-page__content::before {
  content: url("../img/fifth_page/leaf__up.png");
  position: absolute;
  width: 138px;
  height: 76px;
  top: 0;
  left: 0;
}

.aboutUs-page__text {
  font-family: "EB Garamond";
  font-size: 25px;
  font-weight: 400;
  line-height: 110%;
  color: #765a33;
  margin: 0 0 35px 0;
}

.aboutUs-page__button {
  padding: 8px 20px;
  background-color: #454545;
  border-radius: 30px;
  letter-spacing: 0.015em;
}

.aboutUs-page__button span {
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  color: #e6e3da;
}

.subscribe-page__container {
  max-width: 980px;
  margin: 30px auto;
  text-align: center;
  padding: 0 15px;
}

.subscribe-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.subscribe-page__input {
  height: 62px;
  padding: 0 40px;
  margin: 0 0 30px 0;
}

.subscribe-page__input,
.subscribe-page__textarea {
  outline: none;
  outline-offset: 0;
  border: 1.5px solid #b0b0b0;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #bdbdbd;
  letter-spacing: 0.015em;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.subscribe-page__textarea {
  padding: 20px 40px;
  margin: 0 0 100px 0;
}

.subscribe-page__button {
  position: absolute;
  padding: 15px 25px;
  background-color: #c87e6b;
  border-radius: 30px;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  color: #ffffff;
  letter-spacing: 0.015em;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  white-space: nowrap;
}

.footer {
  background-color: #424242;
  padding: 150px 0 100px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 70px 0;
}

.footer__menu {
  padding: 0 15px;
}

.footer__subtitle {
  font-family: "Montserrat Alternates";
  font-size: 38px;
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.footer__list li {
  font-family: "Montserrat Alternates";
  font-size: 25px;
  font-weight: 400;
  line-height: 220%;
  color: #ffffff;
  letter-spacing: -0.05em;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer__title {
  font-family: "Montserrat Alternates";
  font-size: 25px;
  font-weight: 700;
  line-height: 100%;
  color: #ffffff;
  margin: 0 45px 0 0;
}

.social-footer__image {
  margin: 0 33px;
  position: relative;
}

.social-footer__image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 49px;
  height: 49px;
  border: 4px solid #e7e4da;
  border-radius: 50%;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._no-webp .wrapper{
  background: #e8e5db url("../img/first_page/texture.png") 0 0/cover no-repeat; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

._container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._no-webp .page__results{
  background: url("../img/first_page/section_bg.png") 0 0/cover no-repeat; }

.page__products {
  padding: 60px 0 0 0;
}

.page__work-process {
  padding: 40px 0;
}

.page__aboutUs {
  margin: 120px 0 0 0;
  position: relative;
}

.title-block {
  font-family: "EB Garamond";
  font-size: 58px;
  font-weight: 700;
  line-height: 120%;
  color: #484a4b;
  letter-spacing: 0.025em;
  margin: 0 0 15px 0;
}

.subtitle-block {
  font-family: "Montserrat Alternates";
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  color: #765a33;
  margin: 0 0 60px 0;
}

.products-page__container {
  text-align: center;
  position: relative;
  padding: 0 0 110px 0;
  height: 100%;
}

._no-webp .products-page__leaf span{
  background: url("../img/second_page/leaf.png") center no-repeat; }

.products-page__leaf span {
  position: absolute;
  top: 0;
  width: 74px;
  height: 85px;
}

.products-page__leaf span:first-child {
  left: 10px;
}

.products-page__leaf span:last-child {
  right: 10px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

._no-webp .products-page__leaf-bottom span{
  background: url("../img/second_page/leaf_small.png") center no-repeat; }

.products-page__leaf-bottom span {
  position: absolute;
  bottom: 0;
  width: 74px;
  height: 85px;
}

.products-page__leaf-bottom span:first-child {
  left: 140px;
}

.products-page__leaf-bottom span:last-child {
  right: 140px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.products-page__body {
  padding: 15px;
}

.products-page__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 0 0 15px 0;
  -webkit-box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 7px 18px 0px rgba(0, 0, 0, 0.18);
  min-height: 100%;
}

._no-webp .products-page__button-next, ._no-webp .products-page__button-prev{
  background: url("../img/second_page/arrow_prev.png") 0 0/cover no-repeat; }

.products-page__button-next,
.products-page__button-prev {
  position: absolute;
  bottom: 0;
  width: 49px;
  height: 49px;
}

._no-webp .products-page__button-next:hover, ._no-webp .products-page__button-prev:hover{
  background: url("../img/second_page/arrow_next.png") 0 0/cover no-repeat; }

.products-page__button-next {
  right: 44%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.products-page__button-next:hover {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.products-page__button-prev {
  left: 44%;
}

.products-page__button-prev:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-product__image {
  margin: 0 0 15px 0;
  position: relative;
}

.slide-product__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-product__like {
  text-align: right;
}

.slide-product__name {
  font-family: "EB Garamond";
  font-size: 29px;
  font-weight: 700;
  line-height: 100%;
  color: #484a4b;
  letter-spacing: 0.025em;
}

.slide-product__description {
  font-family: "Montserrat Alternates";
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  color: #765a33;
  margin: 0 0 15px 0;
}

.slide-product__button {
  display: inline-block;
  width: 104px;
  height: 30px;
  padding: 7px 13px;
  background-color: #454545;
  border-radius: 12.5px;
}

.slide-product__button span {
  font-family: "Montserrat Alternates";
  font-size: 11px;
  font-weight: 700;
  line-height: 0;
  color: #e6e3da;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

@media (min-width: 767.98px) {
  .menu-header__link:hover {
    display: block;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-header__link-login:hover {
    display: block;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .slide-product__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #e6e3da;
    border: 1px solid #454545;
    border-radius: 12.5px;
  }

  .slide-product__button:hover span {
    color: #454545;
  }
}

@media (min-width: 992px) {
  .aboutUs-page__button:hover {
    background-color: #e6e3da;
    border: 1px solid #454545;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .aboutUs-page__button:hover span {
    color: #454545;
  }

  .subscribe-page__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #e6e3da;
    border: 2px solid #c87e6b;
    color: #c87e6b;
  }
}

@media (max-width: 1380px) {
  .header-page__body::before {
    opacity: 0.4;
  }
}

@media (max-width: 1270px) {
  .actions-page__title {
    font-size: 22px;
  }

  .actions-page__discount {
    font-size: 140px;
  }

  .actions-page__text {
    font-size: 28px;
  }
}

@media (max-width: 1150px) {
  .menu-header__menu {
    padding: 0 120px;
  }
}

@media (max-width: 1050px) {
  .actions-page__offer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .actions-page__content::before {
    -webkit-transform: translate(-90%, -50%);
        -ms-transform: translate(-90%, -50%);
            transform: translate(-90%, -50%);
  }

  .actions-page__content::after {
    -webkit-transform: translate(90%, -50%);
        -ms-transform: translate(90%, -50%);
            transform: translate(90%, -50%);
  }

  .actions-page__title {
    font-size: 16px;
  }

  .actions-page__discount {
    font-size: 128px;
  }

  .actions-page__text {
    font-size: 22px;
  }

  .actions-page__text {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .menu-header__menu {
    padding: 0 45px;
  }

  .header-page__body::after {
    opacity: 0.5;
  }

  .header-page__title {
    font-size: 42px;
  }

  .results-page {
    padding: 30px 0;
  }

  .results-page__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .results-page__item {
    width: 50%;
    padding: 15px;
  }

  .aboutUs-page__container {
    padding: 0 0 100px 0;
  }

  .aboutUs-page__container::after {
    opacity: 0.4;
  }

  .aboutUs-page__image-block::before {
    width: 275px;
    height: 250px;
  }

  .aboutUs-page__image-block::after {
    width: 120px;
    height: 81px;
  }

  .aboutUs-page__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    padding: 80px 0px;
  }

  .footer {
    padding: 60px 0;
  }

  .footer__content {
    display: block;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 30px 0;
  }

  .footer__subtitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .footer__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .products-page__button-next {
    right: 40%;
  }

  .products-page__button-prev {
    left: 40%;
  }
}

@media (max-width: 880px) {
  .actions-page__content {
    padding: 0 10px;
  }

  .actions-page__content::before,
  .actions-page__content::after {
    opacity: 0.4;
  }

  .actions-page__title {
    font-size: 14px;
    padding: 10px 24px;
  }

  .actions-page__discount {
    font-size: 84px;
  }
}

@media (max-width: 767.98px) {
  .header__logo {
    width: 60%;
  }

  .header__menu {
    width: 20%;
  }

  .container {
    position: fixed;
    width: 100%;
    height: 70px;
  }

  .menu-header__icon-burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu-header__icon-burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-header__icon-burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu-header__menu {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 63, 53, 0.9);
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 9;
  }

  .menu-header__menu._active {
    left: 0;
  }

  .menu-header__list {
    padding: 15px;
    display: block;
  }

  .menu-header__link {
    font-size: 14px;
    line-height: 350%;
  }

  .menu-header__link-login {
    margin: 10px 0;
    font-size: 13px;
    padding: 4px 25px;
  }

  .header-page__body {
    display: block;
    padding: 15px 15px;
    margin: 70px 0 0 0;
  }

  .header-page__body::after {
    right: 5%;
    top: 1%;
  }

  .header-page__article {
    width: 100%;
    margin: 0;
  }

  .header-page__title {
    width: 100%;
    font-size: 28px;
  }

  .header-page__subtitle {
    font-size: 16px;
    line-height: 120%;
  }

  .header-page__content {
    max-width: 100%;
    margin: 0 0 15px 0;
    font-size: 17px;
  }

  .header-page__image {
    width: 100%;
  }

  .header-page__button {
    margin: 0 10px 15px 10px;
  }

  .header-page__button span {
    font-size: 13px;
  }

  .results-page__quantity {
    font-size: 38px;
  }

  .results-page__name {
    font-size: 14px;
  }

  .work-process {
    margin: 80px 0;
    margin: 70px 0;
  }

  .work-process__content::before {
    width: 214px;
    height: 200px;
  }

  .work-process__content::after {
    width: 330px;
    height: 206px;
  }

  .aboutUs-page__container {
    padding: 0 0 40px 0;
  }

  .aboutUs-page__item {
    display: block;
  }

  .aboutUs-page__content {
    padding: 40px 0px;
  }

  .aboutUs-page__content::before {
    opacity: 0.3;
  }

  .aboutUs-page__button {
    padding: 15px 35px;
    background-color: #454545;
    border-radius: 30px;
  }

  .aboutUs-page__button span {
    font-family: "Montserrat Alternates";
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
    color: #e6e3da;
  }

  .footer__subtitle {
    font-size: 24px;
  }

  .footer__list li {
    font-size: 18px;
  }

  .footer__social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }

  .social-footer__title {
    margin: 0;
  }

  .social-footer__image {
    margin: 0;
  }

  .products-page__leaf-bottom span:first-child {
    left: 40px;
  }

  .products-page__leaf-bottom span:last-child {
    right: 40px;
  }
}

@media (max-width: 690px) {
  .title-block {
    font-size: 44px;
  }

  .subtitle-block {
    margin: 0 0 40px 0;
  }

  .products-page__button-next {
    right: 36%;
  }

  .products-page__button-prev {
    left: 36%;
  }
}

@media (max-width: 540px) {
  .products-page__leaf {
    opacity: 0.6;
  }
}

@media (max-width: 479.98px) {
  .header__menu {
    width: 30%;
  }

  .work-process::before,
  .work-process::after {
    opacity: 0.4;
  }

  .work-process__content::before {
    width: 149px;
    height: 140px;
  }

  .work-process__content::after {
    width: 192px;
    height: 120px;
  }

  .work-process__content {
    padding: 15px;
  }

  .work-process__video {
    padding: 0 0 59% 0;
  }

  .actions-page__title {
    font-size: 12px;
  }

  .actions-page__discount {
    font-size: 64px;
  }

  .actions-page__text {
    font-size: 14px;
  }

  .aboutUs-page__image-block {
    padding: 10px;
  }

  .aboutUs-page__image-block::before,
  .aboutUs-page__image-block::after {
    display: none;
  }

  .footer__subtitle {
    font-size: 20px;
    padding: 0 10px 0 0;
  }

  .footer__list li {
    font-size: 14px;
  }

  .social-footer__title {
    font-size: 20px;
  }

  .page__aboutUs {
    margin: 40px 0 0 0;
  }

  .title-block {
    font-size: 36px;
  }

  .subtitle-block {
    margin: 0 0 20px 0;
    font-size: 16px;
  }

  .products-page__container {
    padding: 0 0 80px 0;
  }

  .products-page__leaf-bottom span {
    opacity: 0.4;
  }

  .products-page__button-next,
  .products-page__button-prev {
    width: 39px;
    height: 39px;
  }
}

._webp .header-page__body::before{ background: url(../img/first_page/leafs_bottom.webp) center no-repeat; }

._webp .header-page__body::after{ background: url(../img/first_page/leafs.webp) center no-repeat; }

._webp .work-process::before{ background: url(../img/third_page/leaf.webp) center no-repeat; }

._webp .work-process::after{ background: url(../img/third_page/leaf_right.webp) center no-repeat; }

._webp .wrapper{ background: #e8e5db url(../img/first_page/texture.webp) 0 0/cover no-repeat; }

._webp .page__results{ background: url(../img/first_page/section_bg.webp) 0 0/cover no-repeat; }

._webp .products-page__leaf span{ background: url(../img/second_page/leaf.webp) center no-repeat; }

._webp .products-page__leaf-bottom span{ background: url(../img/second_page/leaf_small.webp) center no-repeat; }

._webp .products-page__button-next, ._webp .products-page__button-prev{ background: url(../img/second_page/arrow_prev.webp) 0 0/cover no-repeat; }

._webp .products-page__button-next:hover, ._webp .products-page__button-prev:hover{ background: url(../img/second_page/arrow_next.webp) 0 0/cover no-repeat; }
